body {
    background-color: #E7EBF0;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 5%;
    justify-items: center;
}

/* Add another */
#addTracking{
    width: 90%;
    height: 50px;
    margin: 2%;
    border: 4px dotted #5682A3;
    border-radius: 15px;
    text-align: center;
    color: #5682A3;
}
.circle{
    border:2px solid #5682A3;
    width:20px;
    height:20px;
    border-radius:100%;
    position:relative;
    margin:5px;
    display:inline-block;
    vertical-align:middle;
  }
  .circle.plus:before,
  .circle.plus:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:#5682A3;
  }
  .circle.plus:before{
    width: 2px;
    margin: 5px auto;
  }
  .circle.plus:after{
    margin: auto 5px;
    height: 2px;
  }
  .addAnotherText{
    display:inline-block;
    padding-top: 15px;
  }

/* Tracking top half */
.tracking{
    width: 90%;
}
form{
  padding: 10px;
  background-color: #5682A3;
  box-shadow: 1px 2px black;
  margin-bottom: 0;
}
.tableAlign{
    width: 90%;
    margin-left: 10%;
    margin-right: 10%;
}
.cross{
  /* going to do this */
  /* also change search button to arrow plane shape arrow */
  /* change search text box styles */
}
#companyId{
    margin-right:10px;
    width:100%;
    height:25px;
}
.queueId{
    margin-right:10px;
    width:100%;
    height:25px;
    background-color: #F2F2F2;
    border: none;
    border-radius: 5px;
}
#search{
    margin-left:10px;
    width: 90px;
    height: 25px;
    background-color: #30A3E6;
    border-radius: 10px;
    border-color: #30A3E6;
}
#hideInactive{
    margin-left:10px;
}

/* Tracking bottom half */
.bottomHalf{   
  width: 100%;
  height: 250px;
  background-color: white;
  box-shadow: 1px 2px black;
}